.app-container {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #f06a23;
  color: white;
  height: 60px;
  box-shadow: 5px 5px 10px #974e28;
}

.nav-brand {
  font-size: 24px;
  font-weight: bold;
  padding: 3px;
}

.nav-brand img {
  margin-top: 3px;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-link {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  font-size: 22px;
}

.nav-link:hover {
  box-shadow: 0px 2px 0 #186e39;
}


.nav-link.active {
  box-shadow: 0px 2px 0 #186e39;
}

.main-content {
  padding: 0;
}

.simple-spinner {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}
.simple-spinner .spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 767px) {
  .nav-link {
    padding: 8px 7px;
  }

.navbar-collapse {
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
    background-color: #301212;
}
  
}