.app-container {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #f06a23;
  color: white;
  height: 60px;
  box-shadow: 5px 5px 10px #974e28;
}

.nav-brand {
  font-size: 24px;
  font-weight: bold;
  padding: 3px;
}

.nav-brand img {
  margin-top: 3px;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-link {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  font-size: 22px;
}

.nav-link:hover {
  box-shadow: 0px 2px 0 #186e39;
}


.nav-link.active {
  box-shadow: 0px 2px 0 #186e39;
}

.main-content {
  padding: 0;
}